html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-Color: black;
}

html {
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
}

.Caixa {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	background-Color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Titulo {
	text-align: center;
	font-size: 30px;
	font-family: Consolas;
	font-weight: bold;
}

.Conteudo {
	height: 60%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.button {
	text-align: center;
	font-size: 25px;
    font-family: consolas;
	font-weight: bold;
	height: 30px;
    padding: 5px;
	border: 5px solid black;
}

.button:hover {
	color: white;
	cursor: pointer;
	background-Color: black;
}
